<?xml version="1.0" encoding="UTF-8"?>
<phpunit verbose="true" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" testdox="true" stopOnError="true" stopOnFailure="true">
    <testsuite name="Test suite">
        <directory>tests</directory>
    </testsuite>
</phpunit>
