{% extends "base.html.twig" %}

{% block title %}Posts{% endblock %}

{% block body %}

    {% for alert in alerts %}
    <h2>{{alert}}</h2>
    {% endfor %} 



    <h1>Posts</h1>
<form action="addNew" method="post">

<input name='name' type="text">
<button>send</button>
</form>

{% endblock %}